.footer-wrap {
  padding-left: 4.8rem;
  padding-bottom: 4rem;

}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 95%;
}

.social-link {
  display: flex;
  align-items: center;

  li {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.scroll-footer {
  font-size: 1.3rem;
  color: #8B8FB6;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 4rem;

  .scrl-svg {
    margin-right: .65rem;
  }
}