.burger-menu-header {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    position: absolute;
    content: '';
    width: 1.8rem;
    height: .2rem;
    top: .6rem;
    left: 50%;
    margin-left: -.9rem;
    background: white;
  }

  &:after {
    position: absolute;
    content: '';
    width: 1.8rem;
    height: .2rem;
    bottom: .6rem;
    left: 50%;
    margin-left: -.9rem;
    background: white;
  }

  span {
    display: block;
    width: 1.8rem;
    height: .2rem;
    background: white;
  }
}

.header-wrap {
  padding-left: 4.8rem;
  padding-right: 2.3rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 99;
}