.root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.border-v1 {
  .border-svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
  }
}

.border-v2 {
  .border-svg {
    width: 4.2rem;
    height: 4.2rem;
  }
}

.border-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(197, 201, 234, 1);
  border-radius: 8px;
}

.line-btm {
  position: fixed;
  left: 12.3rem;
  bottom: -.1rem;
  z-index: 2;
  display: flex;

  &__item {
    height: 1.8rem;
    width: .4rem;
    border-radius: 20px 20px 0 0;
    margin-right: 6rem;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      background: #C5C9EA;
    }

    &:nth-child(2) {
      background: #8C93D6;
    }

    &:nth-child(3) {
      background: #C5C9EA;
    }
  }
}

.line-top {
  position: fixed;
  top: 19.4rem;
  left: 0rem;
  z-index: 2;

  &__item {
    width: 1.8rem;
    height: .4rem;
    border-radius: 0 20px 20px 0;
    margin-bottom: 6rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      background: #C5C9EA;
    }

    &:nth-child(2) {
      background: #8C93D6;
    }

    &:nth-child(3) {
      background: #C5C9EA;
    }
  }
}

@keyframes fadepreload {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  85% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }

}

.line {
  width: .4rem;
  height: 1.8rem;
  fill: red;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 9999999;

  &.active {
    animation: 2s linear 0s 1 running forwards fadepreload;
  }
}

.preloader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.preloader-pic {
  height: fit-content;
  position: relative;
}

.left-line-list {
  position: absolute;
  left: -27rem;
  top: 0;
  width: 18rem;
  height: 12rem;
}



@keyframes moveBorder {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.line1 {
  width: 18rem;
  height: .4rem;
  background: #C5C9EA;
  border-radius: 1rem;
  position: absolute;
  right: 0;

  &::before {
    position: absolute;
    content: '';
    width: 0;
    background: blue;
    right: 0;
    top: 0;
    height: 100%;
    animation: .5s linear 1.2s 1 running forwards moveBorder;
  }
}

.line2 {
  width: 15rem;
  height: .4rem;
  background: #8C93D6;
  border-radius: 1rem;
  top: 6rem;
  position: absolute;
  right: 0;

  &::before {
    position: absolute;
    content: '';
    width: 0;
    background: blue;
    right: 0;
    top: 0;
    height: 100%;
    animation: .5s linear .6s 1 running forwards moveBorder;
  }
}

.line3 {
  width: 12rem;
  height: .4rem;
  background: #C5C9EA;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  bottom: 0rem;

  &::before {
    position: absolute;
    content: '';
    width: 0;
    background: blue;
    right: 0;
    top: 0;
    height: 100%;
    animation: .5s linear 0s 1 running forwards moveBorder;
  }
}

.right-line-list {
  position: absolute;
  right: -27rem;
  top: 0;
  width: 18rem;
  height: 12rem;

  .line1,
  .line2,
  .line3 {
    left: 0;

    &:before {
      right: auto;
      left: 0;
    }
  }
}

.preload-text {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 113.19%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1D2038;
  margin-top: 1.5rem;
}

.preload-subtext {
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2C3374;

  p {
    padding: 1rem;
    background: #FAA72B;
    display: inline-block;

  }

}