.top-headline {
  font-weight: 500;
  font-size: 1.8rem;

}

.slider-item-top {}

.slider-headline {
  font-weight: bold;
  line-height: 113.19%;
  color: #1D2038;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  &__news {
    font-size: 6.4rem;
    line-height: unset;
  }

  &__about {
    font-size: 6.4rem;
  }

  &__contact {
    font-size: 6.4rem;
  }
}

@keyframes opacityTest {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0vw);
  }
}

.test2 {
  animation: 1s linear 0s 1 running opacityTest;
}

.general-slide-wrap {


  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-top {



  &__investor {
    font-size: 6.4rem;
    text-align: center;
  }

  &__color-h {
    color: #2C3374;
  }

  &__margin-result {
    margin-top: 2rem;
  }

  &__margin-succes {
    margin-top: 3rem;
  }

  &__headline-v1 {
    font-size: 6.4rem;
  }

  &__headline-v2 {
    font-size: 5.5rem;
  }

  &__headline-v3 {
    font-size: 4.1rem;
  }

  &__margin-subtext {
    margin-top: 3rem;
  }

  &__change-color-h {
    background: #2C3374;
    padding: 1rem;
    width: fit-content;
    color: #FFFFFF;
  }

  &__border-h {
    color: #1D2038;
    padding: 1rem;
    background: #FAA72B;
    width: fit-content;
  }

  &__margin-headline {
    margin-top: 4rem;
  }

  &__margin-list {
    margin-top: 4.5rem;
  }

  &__about {
    font-size: 6.4rem;
    color: #FFFFFF;
  }
}

.slider-list {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
  color: #5F6175;
  max-width: 82rem;
  width: 100%;

  &__money {
    li {
      margin-bottom: 3rem;
      max-width: 34.2rem;
    }
  }

  &__warranty {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &__waranty-list {
    flex-direction: column;
    margin-top: 4rem;

    li {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        max-width: 76rem;
        margin-left: 1.6rem;
      }
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;

      width: 100%;

    }
  }

  &__margin-list {
    margin-top: 4rem;
    flex-direction: column;

    li {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        max-width: 60rem;
        margin-left: 1.6rem;
      }

      span {
        max-width: 60rem;
      }
    }
  }

  .done {}
}

.slider-item {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &.swiper-slide-prev {
    .pic-slider {}
  }

  &.swiper-slide-next {
    .pic-slider {}
  }

  &.swiper-slide-active {
    .pic-slider {
      // transition: transform .5s;
      // transform: translateX(20vw);
      // transition-delay: .8s;
    }
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  left: 2rem !important;
}


.swiper-wrapper {
  // transition-delay: 2s !important;
  transition: all 0ms .7s !important;
}

@keyframes test {
  from {
    transform: translateX(-40vw);
  }

  to {
    transform: translateX(0);
  }
}

.js-screen-wrap {

  opacity: 1;
  transform: translateX(0);
  transition: transform .5s;
  transition-delay: .5s;

  // &.animate {
  //   transform: translateX(100vw);
  // }

  // &.clear {
  //   display: none;
  //   transform: translateX(-100vw);
  // }

  &.test {
    animation: .3s linear 0s 1 running test;
  }
}

.slider-screen-wrap {
  background: white;
  height: 100vh;
  padding-left: 11.8rem;
  padding-top: 11rem;
  padding-bottom: 9.5rem;
  position: relative;
  z-index: 1;
  width: 55vw;
}

.slider-about {
  height: 100%;
}


.slider-screen {
  width: 100vw;
  position: absolute !important;
  overflow: hidden;
  height: 100%;

  &:before {
    position: absolute;
    content: '';
    left: 50%;
    width: 0;
    height: 100%;
    top: 0;
    background: blue;
    transition: width .5s linear 0s;

  }

  &.animate {
    &:before {
      width: 55vw;
    }
  }

  &.clear {
    &:before {
      display: none;
    }
  }


  // &.transform {
  //   transform: translateX(-100vw);
  // }

  // &__clip-v1 {
  //   clip-path: polygon(0 0, 87% 0, 100% 705px, 961px 100%, 0 100%);
  // }

  // &__clip-v2 {
  //   clip-path: polygon(0 0, 100% 0, 89% 705px, 100% 100%, 0 100%);
  // }

  &__margin-more {
    margin-top: 4.5rem;
  }


}

.slider-in-the-news {
  padding-top: 5rem;
  padding-left: 0;
  max-width: 145rem;
  width: 100%;
  margin: auto;
}

.animation {
  animation: move 2s linear 2s 1 running;
}

.background-item {
  position: relative;
}

@keyframes picAnimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pic-about-slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  width: 100vw;
}

.slider-main {
  opacity: 0;

  &.active {
    transition: opacity .5s;
    transition-delay: 0s;
    opacity: 1;
  }
}

.pic-slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  width: 100vw;
  transform: translateX(20vw) translateY(0%);
  transition: transform .6s;
  transition-delay: .4s;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &.animate {
    transition: transform .6s;
    // transition: opacity .2s;
    transition-delay: 0s;
    // opacity: 0;
    transform: translateX(30vw);
  }

  &.pic-animate {}
}

.slider-item-btm {
  &__wrap {
    padding-top: 1rem;
    max-width: 75.5rem;
    width: 100%;
  }
}

.slider-text {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.3rem;

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.slider-list-headline {
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1D2038;
}

.headline-subtext {
  max-width: 66.9rem;
  width: 100%;
  color: rgba(95, 97, 117, 1);
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.3rem;

  &__subtext-v2 {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .point {
    display: block;
    padding: 1rem 1.6rem;
    background: #F8F8FA;
    box-shadow: inset 3px 0px 0px #8C93D6;
  }

  .point-v2 {
    display: block;
    padding: 1rem 1.6rem;
    border-left: .3rem solid #8C93D6;
  }
}

.more-link {
  padding: 1.8rem 4.9rem;
  border: 2px solid #8C93D6;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  color: #1D2038;
  display: block;
  width: fit-content;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 1000;
  position: absolute;

  .arrow {
    width: 2.4rem;
    height: 2.4rem;
    fill: white;
  }

  &:after {
    content: '';
  }
}

.swiper-button-prev {
  left: auto;
  right: 2.2rem;
  top: 6.6rem;
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}

.swiper-button-next {
  left: auto;
  right: 2.2rem;
  top: auto;
  bottom: 4.8rem;
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  transform: rotate(180deg);
}

.swiper-container {
  height: 100vh;
}

.swiper-pagination-wrap {
  position: absolute;
  height: 100%;
  width: 6.6rem;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background: rgba(16, 16, 16, 0.1);
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  display: flex;
  flex-direction: column;
  height: 80% !important;
  justify-content: space-around;
  transform: translate(0, 10%);
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: block;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: inherit;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  border: none;
  width: 1.2rem;
  height: 1.2rem;
  background: #FAA72B;
}

.success-text {

  h4,
  h3,
  h2,
  h1 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 113.19%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #1D2038;
  }

  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: rgba(95, 97, 117, 1);
  max-width: 64rem;
  width: 100%;

  p {
    margin-top: 3rem;
  }

  .point {
    display: block;
    padding: 1rem 1.6rem;
    background: #F8F8FA;
    box-shadow: inset 3px 0px 0px #8C93D6;

    strong {
      font-weight: 40;
    }
  }
}

.result-text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #5F6175;

  strong {
    font-weight: 400;
    color: #2C3374;
  }
}

.right-menu {
  display: none;
  width: 38.1rem;
  height: 100vh;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;

  &.active {
    display: block;
  }
}

.menu-wrap {
  padding-top: 4.95rem;
  height: 100%;
  padding-bottom: 4.95rem;
  position: relative;
}

.menu-social {
  position: absolute;
  left: 0;
  bottom: 4.95rem;
  width: 100%;

  .social-link {
    justify-content: center;

    li {
      margin-right: 4, 2rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.menu-list {
  &.header-logo {
    width: 4.9rem;
    height: 4.9rem;
  }
}

.menu-list {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 216.19%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #4F5377;
  text-align: center;

  li {
    display: block;

    padding: 1rem 0;
    width: 100%;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 15.7rem;
      height: .1rem;
      background: rgba(148, 152, 184, 0.25);
      bottom: 0;
      left: 50%;
      margin-left: -7.85rem;

    }

    &:first-of-type {
      font-size: 2.4rem;
      line-height: 113.19%;
      margin-top: 5rem;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.menu-logo-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.close-menu {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.7rem;
  right: 1.3rem;

}

.close {
  width: 1.5rem;
  height: 1.5rem;
  fill: #C5C9EA;
}

.slider-screen {
  &.about {
    position: relative;
    height: 100%;
    background: transparent;
  }
}

.slider-investor {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-about-us {
  position: absolute;
  left: 0;
  bottom: 0;
}

.slider-about-headline {
  padding-left: 12rem;
  padding-bottom: 2rem;
}

.about-us-wrap {
  background: white;
  padding-top: 5.9rem;
  padding-left: 12rem;
  padding-right: 22rem;
  padding-bottom: 9.5rem;

}

.about-us-descr {
  max-width: 75.5rem;
  width: 100%;
  font-weight: 300;
  color: #5f6175;
  font-size: 1.4rem;
  line-height: 2.3rem;

  p {
    margin-bottom: 2.5rem;
  }

  strong {
    font-weight: 400;
    font-style: italic;
  }
}

.investor-list {
  display: flex;
  margin-top: 5rem;
}

.investor-item {
  width: 30rem;
  box-shadow: 0px 3px 0px #8C93D6;
  border-radius: 1.2rem;
  margin-right: 6rem;

  &:last-child {
    margin-right: 0;
  }

  &__margin-content {
    margin-top: 2rem;
    padding: 2rem 1rem 1rem;
  }
}

.investor-pic {
  width: 100%;
  height: 37.8rem;
  border-radius: 1.2rem;
  overflow: hidden;
  background: #4F5377;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.investor-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  text-align: center;

  color: #5F6175;

  p {
    font-weight: 300;
  }
}

.scrl-svg {
  position: relative;
  animation: .5s linear .5s infinite alternate example;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 0px;
    top: -10px;
  }
}

.news-inner-headline {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  p,
  span {
    font-weight: 500;
    font-size: 1.8rem;
    display: inline-block;
    padding: 1rem;
    background: #FAA72B;
    color: #2C3374;
    margin-right: 1.5rem;
  }
}

.news-inner-item {

  box-shadow: 0px 3px 0px #8C93D6;
  border-radius: 12px;
  overflow: hidden;
  display: block;
}

.news-inner-pic {
  width: 100%;
  border-radius: 12px;
  height: 24.6rem;
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-inner-descr {
  padding-top: .65rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 113.19%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1D2038;
}

.read-more {
  display: flex;
  align-items: center;
}

.news-sub-info {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: #5F6175;
  display: flex;
  justify-content: center;

  p {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .arrow {
    width: 1.8rem;
    height: 1.8rem;
    transform: rotate(90deg);
    margin-left: 1rem;
  }
}

.news-inner-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-top: 6rem;
}

.news-inner {
  overflow: scroll;
  height: 90rem;
  padding-bottom: 2rem;
}

.about-company-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  background: white;
  padding-left: 11.8rem;

  &__magin-text {
    margin-top: 2rem;
  }

  &__margin-btn {
    margin-top: 6.3rem;
  }

  .general-slide-wrap {
    height: auto;
    display: block;
  }
}

.contact-us-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  background: white;
  padding-left: 11.8rem;

  &__margin-subtext {
    margin-top: 2rem;
  }

  .general-slide-wrap {
    height: auto;
    display: block;
  }
}

.contact-us-subtext {
  max-width: 67rem;
  width: 100%;
  color: rgba(95, 97, 117, 1);
  font-weight: 300;
  font-size: 1.4rem;
}

.form-contact {
  max-width: 67rem;
  width: 100%;

  &__margin-content {
    margin-top: 2rem;
  }
}

.contact-input-item {
  font-weight: 300;
  font-size: 1.4rem;
  width: 100%;

  input,
  textarea {
    display: block;
    padding: 1.6rem 1rem 1.6rem;
    border-bottom: .1rem solid #C5C9EA;
    width: 100%;
    resize: none;

    &::placeholder {
      color: rgba(95, 97, 117, 1);
    }
  }


}

.list-input-unite {
  display: flex;

  .contact-input-item {
    margin-right: 4.6rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.contact-list-input {
  color: rgba(95, 97, 117, 1);
  font-weight: 300;
  font-size: 1.4rem;

  .contact-input-item {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}