.done {
  width: 2rem;
  height: 1.4rem;
  fill: #FAA72B;
}

.header-logo {
  width: 4.6rem;
  height: 4.9rem;
  fill: #1D2038;
}

.social-svg {
  fill: #8C93D6;
  width: 2.4rem;
  height: 2.4rem;
}

.scrl-svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #8C93D6;
}

.earnings {
  width: 2.8rem;
  height: 2.8rem;
  fill: #FAA72B;
}

.youtube-svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #C2C5E8;
}

.preload-logo {
  width: 18.6rem;
  height: 19.8rem;
  fill: #1D2038;
}